body {
    font-family: 'Stack Sans Text', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1D6F1D;
    --bs-btn-border-color: #1D6F1D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #165616;
    --bs-btn-hover-border-color: #144d14;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #144d14;
    --bs-btn-active-border-color: #124412;
    --bs-btn-focus-shadow-rgb: 29, 111, 29;
}

:root, [data-bs-theme=light] {
    --bs-primary: #1D6F1D;
    --bs-primary-rgb: 29, 111, 29;
}

textarea {
    field-sizing: content;
    max-height: 500px;
    resize: none;
}

.form-check-input:checked {
    background-color: #1D6F1D;
    border-color: #1D6F1D;
}

.form-check-input:focus {
    border-color: #1D6F1D;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(29, 111, 29, 0.25);
}

@media (max-width: 767.98px) {
    aside {
        display: contents;
    }
}

aside.sticky-top {
    top: 5rem !important;
    height: calc(100vh - 5rem) !important;
    overflow-y: auto;
}

header.navbar {
    height: 5rem;
}

.auth-container {
    height: calc(100vh - 5rem);
    overflow: hidden;
}
