:root {
    --primary: #1D6F1D;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: 'Stack Sans Text', sans-serif;
}

@media (max-width: 767.98px) {
    aside {
        display: contents;
    }
}

aside.sticky-top {
    top: 5rem !important;
    height: calc(100vh - 5rem) !important;
    overflow-y: auto;
}

header.navbar {
    height: 5rem;
}
