body {
    font-family: 'Stack Sans Text', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1D6F1D;
    --bs-btn-border-color: #1D6F1D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #165616;
    --bs-btn-hover-border-color: #144d14;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #144d14;
    --bs-btn-active-border-color: #124412;
    --bs-btn-focus-shadow-rgb: 29, 111, 29;
}

:root, [data-bs-theme=light] {
    --bs-primary: #1D6F1D;
    --bs-primary-rgb: 29, 111, 29;
}

textarea {
    field-sizing: content;
    max-height: 500px;
    resize: none;
}

.form-check-input:checked {
    background-color: #1D6F1D;
    border-color: #1D6F1D;
}

.form-check-input:focus {
    border-color: #1D6F1D;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(29, 111, 29, 0.25);
}

header.navbar {
    height: 5rem;
}

.auth-container {
    height: calc(100vh - 5rem);
    overflow: hidden;
}

#main-sidebar {
    width: 260px;
    min-width: 260px;
    flex-shrink: 0;
    height: calc(100vh - 5rem);
    position: sticky;
    top: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

#main-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

#main-sidebar.collapsed .sidebar-text {
    display: none;
}

#main-sidebar.collapsed #collapse-icon {
    transform: rotate(180deg);
}
.cursor-pointer{
    cursor: pointer;
}
.hover-underline:hover{
    text-decoration: underline;
}

.profile-pic{
    height: 25px;
}
